@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--color1: #AFF3D7;
	--color2: #0C1729;
}

body, html {
	margin: 0;
	overflow: hidden;
	position: relative;
}

body {
	align-items: center;
	background-image: linear-gradient(to bottom right, var(--color1), var(--color2));
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

.container h1 {
	font-size: 5em;
	margin: 0 0 0.5em;
	line-height: 5px;
}

.container img {
	width: 50%;
	height: auto;
	border: 5px solid #FFF;
}

.container p {
	font-size: 1.2em;
	line-height: 26px;
}

.container a {
	color: #eee;
}

.circle {
	background-image: linear-gradient(to top right, var(--color1), var(--color2));
	border-radius: 50%;
	position: absolute;
	z-index: -1;
}

.circle.small {
	top: 200px;
	left: 150px;
	width: 100px;
	height: 100px;
}

.circle.medium {
	background-image: linear-gradient(to bottom left, var(--color1), var(--color2));
	bottom: -70px;
	left: 0;
	width: 200px;
	height: 200px;
}

.circle.big {
	top: -100px;
	right: -50px;
	width: 400px;
	height: 400px;
}
